<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <title th:text="${#httpServletRequest.getAttribute('VARIABLE.APPLICATION_TITLE')}">Title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />

    <link rel="stylesheet" th:href="@{/vendor/authorizationserver/bootstrap/css/bootstrap.min.css}" /><!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/vendor/authorizationserver/startbootstrap-sb-admin-2/css/sb-admin-2.min.css}" /><!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/vendor/authorizationserver/font-awesome/css/font-awesome.min.css}" /><!-- Custom Fonts -->
    <link rel="stylesheet" th:href="@{/vendor/authorizationserver/ax5ui-mask/ax5mask.css}" /><!-- AX5 UI Mask -->
    <link rel="stylesheet" th:href="@{/vendor/authorizationserver/ax5ui-toast/ax5toast.css}" /><!-- AX5 UI Toast -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script th:src="@{/vendor/authorizationserver/jquery/jquery.min.js}"></script><!-- jQuery -->
    <script th:src="@{/vendor/authorizationserver/bootstrap/js/bootstrap.min.js}"></script><!-- Bootstrap Core JavaScript -->
    <script th:src="@{/vendor/authorizationserver/ax5core/ax5core.min.js}"></script><!-- AX5 Core -->
    <script th:src="@{/vendor/authorizationserver/ax5ui-mask/ax5mask.min.js}"></script><!-- AX5 UI Mask -->
    <script th:src="@{/vendor/authorizationserver/ax5ui-toast/ax5toast.min.js}"></script><!-- AX5 UI Toast -->

    <script th:src="@{../../js/authorizationserver/commonness/utility.js}"></script><!-- Utility -->

    <script th:src="@{/webjars/js-sha3/0.3.1/src/sha3.js}"></script><!-- JS-SHA3 -->

    <script th:src="@{../../js/authorizationserver/login/login.js}"></script><!-- 로그인 -->
    <script th:src="@{../../js/authorizationserver/login/login-ajax.js}"></script><!-- 로그인 AJAX -->

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset id="data">
                            <div class="form-group">
                                <!--<input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>-->
                                <input class="form-control" placeholder="E-mail" type="email" autofocus="autofocus" name="user-email" value="sys-admin@kwangsik.io" />
                            </div>
                            <div class="form-group">
                                <!--<input class="form-control" placeholder="Password" name="password" type="password">-->
                                <input class="form-control" placeholder="Password" type="password" name="password-hash" value="password" />
                            </div>
                            <div class="checkbox">
                                <label>
                                    <!--<input name="remember" type="checkbox" value="Remember Me" />Remember Me-->
                                    <input type="checkbox" value="Remember Me" />Remember Me
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <!--<a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>-->
                            <a class="btn btn-lg btn-success btn-block" id="loginButton">Login</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>