<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <th:block th:include="thymeleaf/authorizationserver/fragment :: head" />

    <script th:src="@{../../js/authorizationserver/user.js}"></script><!-- 사용자 -->
    <script th:src="@{../../js/authorizationserver/user-ajax.js}"></script><!-- 사용자 AJAX -->

</head>

<body>

<div id="wrapper">

    <th:block th:include="thymeleaf/authorizationserver/fragment :: navigation" />

    <!-- Page Content -->
    <div id="page-wrapper">

        <th:block th:include="thymeleaf/authorizationserver/fragment :: screen-name" />

        <!-- ==================== screen contents ===== start -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <!-- 조회 조건 -->
                        <div class="row" id="condition">
                            <div class="col-lg-7">
                                <div class="input-group">
                                    <span class="input-group-addon">사용자 E-mail</span>
                                    <input class="form-control" placeholder="E-mail" type="email" name="email" />
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon">사용자명</span>
                                    <input class="form-control" placeholder="" type="text" name="name" />
                                </div>
                            </div>

                            <div class="col-lg-1" style="padding-left: 0; text-align: right;">
                                <button class="btn btn-default" type="button" id="inquiryButton">조회</button>
                            </div>
                        </div>

                        <!-- Grid -->
                        <br />
                        <div data-ax5grid="firstGrid" style="height: 380px;"></div>

                        <!-- 하단 Button -->
                        <br />
                        <div class="row">
                            <div class="col-lg-6">
                                <button class="btn btn-success" type="button" id="passwordInitializationButton">비밀번호 초기화</button>
                            </div>

                            <div class="col-lg-6" style="text-align: right;">
                                <button class="btn btn-default" type="button" id="additionButton">추가</button>
                                <button class="btn btn-success" type="button" id="savingButton">저장</button>
                                <button class="btn btn-danger" type="button" id="deletingButton">삭제</button>
                            </div>
                        </div>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- ____________________ screen contents _____ e n d -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

</body>

</html>